<div class="row upper-msg">
    <h5 class="clearfix">* Utilize a barra de espaço para alternar entre 2 e 6 casas decimais.</h5>
    <h5 class="clearfix">* Pressione TAB ou ENTER para atualizar os valores.</h5>
</div>
<div class="row">
    <button data-tabela="opv"
            class="add-ano btn bg-custom-primary pull-left margin-left-15 neg-margin-top-46"
            type="button"
            name="button"
            title="Adicionar ano">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar ano
    </button>
</div>
<div class="month-container">
    <%  @meses =  @tabela.count
        (0..@meses).each do |m| %>
            <% if m%144 == 0 %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <span class="not-visible">_</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                JAN
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FEV
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MAR
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ABR
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MAI
                            </td>
                        </tr>
                        <tr>
                            <td>
                                JUN
                            </td>
                        </tr>
                        <tr>
                            <td>
                                JUL
                            </td>
                        </tr>
                        <tr>
                            <td>
                                AGO
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SET
                            </td>
                        </tr>
                        <tr>
                            <td>
                                OUT
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NOV
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DEZ
                            </td>
                        </tr>
                    </tbody>
                </table>
            <% end %>
        <% end
    %>
</div>
<div class="valores">
    <%  @ano = ""
        @tabela.each_with_index do |t, index| %>
            <% if t.mes == "01" %>

                <table class="table pull-right bordered striped">
                    <thead>
                        <tr>
                            <th colspan="2"><%= t.ano %></th>
                        </tr>
                    </thead>
                    <tbody>


            <% end %>
                <tr class="">
                    <td>
                        <input type="text"
                            <% if t.valor.to_s.split(".")[1].length > 2 %>
                                data-decimal="5"
                            <% else %>
                                data-decimal="2"
                            <% end %>
                            data-ano="<%= t.ano %>"
                            data-mes="<%= t.mes %>"
                            value="<%= number_with_delimiter(t.valor, separator: ",", delimiter: ".") %>"
                            class="valor-tabela">
                    </td>
                </tr>

            <% if t.mes == "12" %>
                        </tbody>
                    </table>

            <% end %>

            <% @ano = t.ano %>
    <%  end %>
</div>
