<div class="nested-fields ">
    <%= f.input :nome %>
    <hr>
    <%= link_to_remove_association "Remover", f,
          :class => "btn btn-danger pull-right btn-xs margin-left-5 btn-remove-autor"%>
</div>
