.autor-table{
    th{
        text-align: right !important;
    }
    td{
        text-align: right !important;
        vertical-align: middle !important;
        padding: 3px !important;
        .periodo-value{
            text-align: right;
            width: 70px !important;
        }
    }
    tfoot{
        th{
            padding-right: 3px !important;
        }
    }
}

.autor-details-panel{
    table{
        font-size: 9px;
        margin-bottom: 0;
        td{
            padding: 2px !important;
            border-top: 0 !important;
            div{
                max-width: 214px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.autor-totals-container{
    margin: 0 auto;
    th{
        padding: 2px !important;
    }
}

.table-liquidacao{
    tr{
        td{
            &:nth-child(1), &:nth-child(3){
                width: 25%;
            }
            &:nth-child(2){
                width: 17%;
            }
        }
    }
}

.print-container{
    font-size: 11px;
    margin-left: 27mm;
    width: 85%;

    .panel-body{
        padding: 10px;
    }

    .container,
    .autor-table,
    .autor-details-panel table {
        font-size: 10px;
    }

    .autor-details-panel{
        width: 105%;
        margin-left: -16px;
        table{
            td{
                line-height: 10px;
                padding: 0px !important;
                div{
                    max-width: 184px;
                }
            }
        }
    }

    .autor-table{
        th{
            padding-bottom: 0px;
            padding-top: 0px;
        }
        td{
            border-top: 1px solid #f3f3f3 !important;
        }
    }

    .autor-totals-container th{
        padding: 0 !important;
    }

    .periodo-value{
        border: 0px;
        font-size: 10px;
        box-shadow: none;
    }

    .form-control{
        height: 15px;
        padding: 0;
    }

    .table-liquidacao{
        tr{
            td{
                &:nth-child(1), &:nth-child(3){
                    width: 30%;
                }
                &:nth-child(2){
                    width: 23%;
                }
            }
        }
    }
    .table-liquidacao tr td:nth-child(1), .table-liquidacao tr td:nth-child(2) {
        padding-right: 21px !important;
    }
}

@media print{
    .autor-totals-container{
        page-break-inside: avoid;
    }
}
