.autor-table{
    th{
        text-align: right !important;
    }
    td{
        text-align: right !important;
        vertical-align: middle !important;
        padding: 3px !important;
        .periodo-value{
            text-align: right;
            width: 70px !important;
        }
    }
    tfoot{
        th{
            padding-right: 2px !important;
        }
    }
}

.autor-details-panel{
    table{
        font-size: 9px;
        margin-bottom: 0;
        td{
            padding: 2px !important;
            border-top: 0 !important;
            div{
                max-width: 125px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.autor-totals-container{
    margin: 0 auto;
    th{
        padding: 2px !important;
    }
}
