$primary: #AFACA8;
$secondary: #a2a2a2;

$custom-warning: #efd966;

$custom-primary: #5290a9; // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
