.resumo-page{
    .table-resumo-top,
    .table-resumo-individual{
        margin: 0 auto;
        td{
            border: 0 !important;
        }
        th,td{
            padding: 2px !important;
        }
    }
}

.print-resumo{
    width: 210mm !important;
    margin: 10mm 0mm 0mm 0mm !important;
    font-size: 14px !important;
    h5 {
        font-size: 14px !important;
    }
    th,td{
        padding: 0px !important;
    }
    .table-resumo-individual{
        width: 77%;
    }
}
