.common-tabelas{
    table{
        tbody > tr > td{
            padding: 3px !important;
        }
    }
}

.valores{
    @extend .common-tabelas;
    table{
        text-align: center;
        width: 93px;
        border-bottom: 1px solid #ddd;
        th{
            text-align: center;
        }
        tbody > tr > td{
            padding: 2px !important;
        }

    }
}

.month-container{
    width: 53px;
    float: left;
    text-align: center;

    table{

        tbody{
            border: 1px solid #ddd;
            tr{
                td{
                    padding: 2px !important;
                }
            }
        }
    }
}

input[type=text].valor-tabela{
    width: 100% !important;
    height: 12px !important;
    text-align: right;
}

.valores-juros{
    width: 240px;
}
